*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    display:block;
    width:100%;
    text-align:center;
}
.family-title{
    font-weight: bold;
}
.group{
    /* max-width:50%; */
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    background-color: #ccc;
    border-radius: 2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.label{
    position: absolute;
    left: 5%;
}
.bg{
    background-color:#eee;
    /* margin-bottom:10px; */
    padding: .5rem 0;
    margin: .5rem 2.5%;
    width:95%;
    display:flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items:center;
    flex-wrap:wrap;
    border-radius: .5rem;
}
input[type="range"]{
    width:70%;
    justify-self: center;
}
input[type="checkbox"]{
    width:1.2rem;
    height:1.2rem;
}
button{
    /* float:right; */
    margin: .5rem 2.5%;
    padding: 1rem 0;
    width:95%;
    /* height:20rem; */
}
.doodle-div{
    width:100vw;
    height:50vh;
    overflow: hidden;
}
.half{
    max-width:50%;
}